<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p><%=post.body %></p>
  <p><%= post.created_at.strftime('%H:%M %d/%m/%g') %></p>

  <h4 class="votes-count" data-id='<%= post.id %>'><%= post.votes_total %></h4>
  <%= vote_button post, 'up', '⬆' %>
  <%= vote_button post, 'down', '⬇' %>
<% end %>