<% @posts.each do |post| %>
  <div class="post_item">
    <h2><%= link_to post.title, post, :class => "post_title" %></h2>
    <p><%=post.body %></p>
    <p><%= post.created_at.strftime('%H:%M %d/%m/%g') %></p>

    <h4 class="votes-count" data-id='<%= post.id %>' data-votes-count='<%= post.votes_total %>'><%= post.votes_total %></h4>
    <%= vote_button post, 'up', '⬆' %>
    <%= vote_button post, 'down', '⬇' %>
  </div>
<% end %>
